.home__header {
  position: fixed;
  z-index: 10000;
  height: 70px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  .wrapped {
    height: 100%;
    display: flex;
  }

  .open,
  label {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .home__header {
    .wrapped {
      width: 100%;
    }

    label {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 5%;

      svg {
        color: #535353;
        width: 32px;
        height: 32px;
      }
    }
  }
}
