.section__title {
  background: linear-gradient(
    89.79deg,
    #1d3cb9 -7.11%,
    #6f025e 49.37%,
    #dc3535 102.42%
  );
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: inline-flex;
  padding: 30px 100px;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;

  h1,
  h2 {
    font-weight: 700;
    font-size: 3em;
    color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  .section__title {
    display: flex;
    padding: 30px;

    h1,
    h2 {
      font-size: 1.4em;
    }
  }
}
