.tokenomics__section {
  .token__card {
    width: 100%;
    border-right: 6px solid #1d3cb9;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;

    .token__info {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 0 40px;

      h2 {
        font-family: "Baloo 2";
        font-weight: 700;
        font-size: 3.8em;
        color: #1d3cb9;
        margin-bottom: 20px;
      }

      p {
        font-weight: 400;
        font-size: 1.2em;
        line-height: 60px;
        color: #9f9f9f;
        padding: 0 20px;
      }

      .oxs__distribution {
        width: 80%;
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        h2 {
          font-family: "Poppins";
          font-weight: 600;
          font-size: 2.6em;
          color: #3a3a3a;
        }

        h3 {
          font-weight: 500;
          font-size: 1.3em;
          color: #6e6e6e;
          margin-top: 10px;
        }

        img {
          width: 100%;
          object-fit: contain;
          margin-top: 50px;
        }
      }
    }

    .token__img {
      width: 200px;
      height: 200px;
      position: relative;
    }
  }
}

@media screen and (max-width: 480px) {
  .tokenomics__section {
    .token__card {
      flex-direction: column;
      padding-bottom: 30px;
      border-right: none;

      .token__info {
        width: 100%;
        padding: 0;
        padding-left: 5%;

        h2,
        h3,
        p {
          text-align: initial;
          padding: 0;
        }

        h2 {
          font-size: 2em;
        }

        p {
          font-size: 0.7em;
          line-height: 35px;
        }

        .oxs__distribution {
          width: 100%;
          margin-top: 30px;

          h2 {
            font-size: 2em;
          }

          h3 {
            font-size: 1em;
            margin-top: 0;
          }
        }
      }
    }
  }
}
