.social__section {
  padding: 100px 0;
  margin-bottom: 0;
  background-color: #0b184f;

  .wrapped {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .social__market-btn {
      padding: 25px 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 20px;
      margin-right: 100px;
      color: #0b184f;
      font-weight: 500;
      font-size: 1.1em;

      &:hover {
        background-color: #e2e2e2;
        transition: background-color 0.2s ease;
      }

      svg {
        color: #0b184f;
        font-size: 1.7em;
        margin-left: 10px;
      }
    }

    .social__links {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.6em;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
      }

      .social__buttons {
        display: flex;
        justify-content: center;

        a {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #ffffff;

          &:hover {
            opacity: 0.8;
            transition: opacity 0.2s ease;
          }

          svg {
            color: #fff;
            font-size: 1.3em;
          }

          &:first-of-type {
            background-color: #7289da;
            margin-right: 30px;
          }

          &:nth-of-type(2) {
            background-color: #0088cc;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .social__section {
    .wrapped {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .social__market-btn {
        padding: 20px 50px;
        margin: auto;
        margin-bottom: 60px;

        &:hover {
          background-color: #fff;
        }
      }

      .social__links {
        h2 {
          font-size: 1.5em;
          text-align: center;
          margin-bottom: 40px;
        }
      }
    }
  }
}
