* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.wrapped {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

section {
  margin: 20vh auto;
  width: 100%;
}

@import "./index.scss";
