.about__section {
  .wrapped {
    .about__game {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        width: 48%;
        font-weight: 400;
        font-size: 32px;
        line-height: 70px;
        color: #7b7b7b;
      }

      .game__ui {
        width: 48%;
        position: relative;

        img {
          aspect-ratio: 1 / 1;
          width: 100%;
        }
      }
    }

    .about__passes {
      margin-top: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2,
      .passes__img {
        width: 48%;
      }

      .passes__img {
        img {
          aspect-ratio: 1 / 1;
          width: 100%;
        }
      }

      h2 {
        width: 48%;
        font-weight: 400;
        font-size: 1.4em;
        line-height: 65px;
        color: #7b7b7b;

        span {
          font-size: 1.3em;
          color: #e95050;
          font-weight: 700;
        }
      }
    }

    .about__ranking {
      width: 100%;
      margin-top: 150px;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 3.6em;
        line-height: 110px;
        color: #4266f8;
        margin-bottom: 50px;
      }

      .ranking__img {
        width: 100%;

        img {
          width: 100%;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about__section {
    .wrapped {
      .about__game,
      .about__passes {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 50px;
      }

      .about__game {
        flex-direction: column-reverse;

        h2 {
          width: 100%;
          font-size: 1em;
          padding: 0;
          line-height: 50px;
          margin-bottom: 0;
        }

        .game__ui {
          width: 100%;
          margin: 40px 0;
        }
      }

      .about__passes {
        margin-top: 50px;
        flex-direction: column;

        h2,
        .passes__img {
          width: 100%;
          padding: 0;
          margin-top: 0;
          margin-bottom: 30px;
        }

        h2 {
          font-size: 1em;
          line-height: 50px;
          margin-bottom: 0;
        }
      }

      .about__ranking {
        margin-top: 50px;
        padding-left: 5%;
        border-left: 3px solid #2f57f7;

        .ranking__img {
          height: 200px;
        }

        h2 {
          font-size: 1.5em;
          line-height: 60px;
          text-align: initial;
        }
      }
    }
  }
}
