.header__menu {
  display: flex;
  align-items: center;
  height: 100%;

  li {
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      font-size: 0.76em;
      font-weight: 500;
      color: #535353;

      &:hover {
        color: #979797;
        transition: color 0.2s ease;
      }
    }
  }
}
